// @primary-color: #00A88E; // primary color for all components
// @link-color: #05B7F1; // link color
// @success-color: #73d13d; // success state color
// @warning-color: #d48806; // warning state color
// @error-color: #a8071a; // error state color
// @font-size-base: 15px; // major text font size
// @heading-color: rgba(0, 0, 0, 0.85); // heading text color
// @text-color: rgba(0, 0, 0, 0.65); // major text color
// @text-color-secondary : rgba(0, 0, 0, .45); // secondary text color
// @disabled-color : rgba(0, 0, 0, .25); // disable state color
// @border-radius-base: 6px; // major border radius
// @border-color-base: #d9d9d9; // major border color
// @box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers

// @akper-tosca : #00A88E;
// @akper-orange : #F46F22;
// @akper-blue : #05B7F1;

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: @akper-tosca;
}

.home {
  // border-right: 1px solid @akper-blue;
  background: rgb(244, 111, 34);
  background: -moz-linear-gradient(
    -65deg,
    rgba(244, 111, 34, 1) 0%,
    rgba(0, 168, 142, 1) 43%,
    rgba(5, 183, 241, 1) 100%
  );
  background: -webkit-linear-gradient(
    -65deg,
    rgba(244, 111, 34, 1) 0%,
    rgba(0, 168, 142, 1) 43%,
    rgba(5, 183, 241, 1) 100%
  );
  background: linear-gradient(
    -65deg,
    rgba(244, 111, 34, 1) 0%,
    rgba(0, 168, 142, 1) 43%,
    rgba(5, 183, 241, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f46f22",endColorstr="#05b7f1",GradientType=1);
}

.home .ant-menu-inline,
.dashboard .ant-menu-inline,
.dashboard .ant-menu-vertical {
  border-right: none;
}

.home .ant-menu {
  padding-left: 2rem;
}

.home .ant-layout-sider-zero-width-trigger {
  color: #000;
  background: #ffffff;
}

.home .ant-menu-inline li {
  border-radius: 14px 0 0 14px;
  font-weight: 400;
}

.home li.ant-menu-item-selected {
  font-size: 14px;
  box-shadow: #000000a8 0px 3px 10px 0px !important;
}

.home .ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #ffffff;
}

.home .ant-menu-inline {
  text-transform: uppercase;
}

.ant-menu-inline,
.ant-menu-vertical {
  background: none;
  color: white;
  letter-spacing: 1.5px;
  font-size: 12px;
  text-transform: capitalize;
}

.ant-menu-vertical .ant-menu-submenu-title {
  margin-bottom: 0;
}

.ant-layout-header {
  margin: 0;
  padding: 0;
  height: 64px !important;
  background: #ffffff;
}

.ant-menu-horizontal {
  line-height: 64px;
}

.editable-row .ant-form-explain {
  position: absolute;
  font-size: 12px;
  margin-top: -4px;
}

.ant-layout-sider-trigger {
  font-size: 22px;
  color: white;
  background: rgba(0, 0, 0, 0.65);
}

@sider-width : 260px;
@sider-collapsed-width : 80px;

.dashboard {
  transition: all 200ms;
}

.dashboard .ant-layout-sider {
  background-color: @akper-tosca;
  // overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  width: @sider-width !important;
  flex: 0 0 @sider-width !important;
  max-width: @sider-width !important;
  min-width: @sider-width !important;
}

.dashboard .ant-layout-sider-collapsed {
  flex: 0 0 @sider-collapsed-width !important;
  max-width: @sider-collapsed-width !important;
  min-width: @sider-collapsed-width !important;
  width: @sider-collapsed-width !important;
}

.dashboard
  .ant-layout-sider-collapsed
  .ant-layout-sider-children
  .ant-menu-submenu-title
  i {
  font-size: 30px !important;
}

.dashboard
  .ant-menu-inline-collapsed
  > .ant-menu-item-group
  > .ant-menu-item-group-list
  > .ant-menu-submenu
  > .ant-menu-submenu-title,
.dashboard
  .ant-menu-inline-collapsed
  > .ant-menu-submenu
  > .ant-menu-submenu-title {
  padding: 6px 25px !important;
}

.dashboard .ant-menu-vertical > .ant-menu-item,
.dashboard .ant-menu-vertical-left > .ant-menu-item,
.dashboard .ant-menu-vertical-right > .ant-menu-item,
.dashboard .ant-menu-inline > .ant-menu-item,
.dashboard .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
.dashboard
  .ant-menu-vertical-left
  > .ant-menu-submenu
  > .ant-menu-submenu-title,
.dashboard
  .ant-menu-vertical-right
  > .ant-menu-submenu
  > .ant-menu-submenu-title,
.dashboard .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 50px;
  line-height: 50px;
}

.dashboard .ant-menu-submenu > .ant-menu {
  background-color: transparent;
}

.dashboard .ant-menu-submenu-selected,
.dashboard .ant-menu-submenu-title:hover {
  color: @akper-orange !important;
  background-color: @text-color-secondary;
}

.dashboard .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.dashboard .ant-menu-submenu-active {
  color: @akper-orange !important;
}

.dashboard .ant-menu-inline .ant-menu-submenu-title {
  margin-bottom: 0px;
}

.dashboard .ant-layout-content {
  margin-left: @sider-width;
}

.dashboard .collapsed {
  margin-left: @sider-collapsed-width;
}

.dashboard
  .ant-menu-submenu-inline
  > .ant-menu-submenu-title
  .ant-menu-submenu-arrow::before,
.dashboard
  .ant-menu-submenu-inline
  > .ant-menu-submenu-title
  .ant-menu-submenu-arrow::after {
  background-image: none;
}

.dashboard .ant-menu-submenu-selected .ant-menu-submenu-arrow::before,
.dashboard .ant-menu-submenu-selected .ant-menu-submenu-arrow::after,
.dashboard
  .ant-menu-submenu-inline
  > .ant-menu-submenu-title:hover
  .ant-menu-submenu-arrow::before,
.dashboard
  .ant-menu-submenu-inline
  > .ant-menu-submenu-title:hover
  .ant-menu-submenu-arrow::after {
  background: @akper-orange;
}

.login-form > .ant-form-item,
.register-form > .ant-form-item {
  margin-bottom: 0;
}
.ant-menu-item:hover {
  color: @akper-orange;
}
.ant-menu-item-active {
  color: @akper-tosca;
}
