.logo {
  width: 120px;
  height: 30px;
  background: rgba(151, 26, 4, 0.815);
  margin: 4px 8px 0 50px;
  float: left;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.header {
  margin-bottom: 5px;
}

.menu-setting {
  margin-right: 50px;
}

.row-under-working {
  background-color: red;
}

.row-under-working:hover {
  color: red;
  background-color: white;
}

.row-same-working {
  color: white;
  background-color: #3c784a;
}

.row-same-working:hover {
  color: #3c784a;
  background-color: white;
}

.minimize{
  margin-left: 80px !important;
}

.content{
  transition: all 200ms;
}

.icon-submenu{
  margin-right: 10px
}

.login-bg{
  background: rgb(244,111,34);
  background: -moz-linear-gradient(40deg, rgba(244,111,34,1) 0%, rgba(0,168,142,1) 43%, rgba(5,183,241,1) 100%);
  background: -webkit-linear-gradient(40deg, rgba(244,111,34,1) 0%, rgba(0,168,142,1) 43%, rgba(5,183,241,1) 100%);
  background: linear-gradient(40deg, rgba(244,111,34,1) 0%, rgba(0,168,142,1) 43%, rgba(5,183,241,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f46f22",endColorstr="#05b7f1",GradientType=1);
}

ul > li {
  list-style: none;
  padding: 4px 10px;
}
